nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #FEE932;
  height: 100px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: .8rem;
}
