article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}


.show-recipe {
  background-color: #212639;
  color: #F5C2AC;
}

section > ul {
  flex-direction: column;
  list-style: none;
  padding: 5em;
}

li {
  padding: 5px;
}
